body{
  background-color: rgb(233, 218, 135);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
  text-align: center;
  color: blue;
}
h2{
  text-align: center;
  color: brown;
}

#ismerteto{
  text-align: justify;
  margin: 0 auto 0 auto;
  width: 50%;
}
#iphkep{
  width: 100%;
  border: 1px solid blue;
  border-radius: 50px;
}
table{
  width: 70%;
  margin: 0 auto 0 auto;
}
td{
  border: 1px solid blue;
}
th{
  border: 2px solid red;
  background-color: red;
  color: aliceblue;
}
#tipik{
  width: 600px;
  text-align: center;
}
#hiba{
  text-align: center;
  margin: 0 auto 0 auto;
  background-color: red;
  width: 70%;
  height: 500px;
}
#footer{
  text-align: center;
  margin-top: 400px;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
#kiir{
  width: 70%;
  margin: 0 auto 0 auto;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
#beker{
  margin-bottom: 30px;
  text-align: center;
  line-height: 35px;
}
button{
  margin-top: 20px;
  background-color: green;
  color: white;
  width: 130px;
  border-radius: 20px;
  text-transform: uppercase;
}
.menu {
  width: 230px;
  margin-left: 50px;
  margin-top: 20px;
  border: 1px solid green;
  text-transform: uppercase;
}

.menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu a:hover {
  background-color: #ccc;
}

.menu a.active {
  background-color: #6fdcb4;
  color: red;
}
#hib{
  background-color: #6fdcb4;
  width: 220px;
  height: 30px;
}